.shift8-cdn-button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.shift8-cdn-button-unregister {
    background-color: #f44336;
}
.shift8-cdn-button-register {
    background-color: #2ecc71;
}
.shift8-cdn-button-container {
	text-align:center;
	margin:0 auto;
}
.shift8-cdn-table input {
    width:50%;
}
.shift8-cdn-response {
    font-size:18px;
    padding-top:25px;
}
.shift8-cdn-scrollabletextbox {
    background-color: #fff;
    height:200px;
    width:40%;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 82%;
    overflow:scroll;
}
.shift8-cdn-scrollabletextbox li {
    font-weight:bold;
}
